.container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-color: #f4f4f4;
}

.signin-container {
    display: flex;
    width: 70%;
    max-width: 2000px;
    height: 60%;
    min-height: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side {
    background-size: cover;
    background-position: center;
    background-image: url('../../../assets/signin.jpeg');
}

.right-side {
    background-color: white;
    padding: 20px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
}

.signin-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
    cursor:default;
}

@media (max-width: 768px) {
    .signin-container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .left-side, .right-side {
        width: 100%;
        flex: none;
    }
}
