.make-res-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.make-res-header h5 {
    margin: 0 auto;
}