<div class="container">
    <app-navbar></app-navbar>
    <div class="dashboard-container">
      <div class="make-res-header">
        <h5>Borrow a book :</h5>
      </div>
      <form (ngSubmit)="onSubmit()">
        <div class="admin-dashboard">
          <div class="input-section">
            <div class="input-group">
              <label for="start">From :</label>
              <input
                type="date"
                id="book-title"
                [(ngModel)]="emprunt.dateDebut"
                name="title"
              />
            </div>
            <div class="input-group">
              <label for="finish">To :</label>
              <input
                type="date"
                id="book-author"
                [(ngModel)]="emprunt.dateFin"
                name="author"
              
              />
            </div>
          </div>
          <div class="input-section">
            <div class="input-group">
              <label for="book-publication-date">Book ID :</label>
              <input
                type="text"
                id="book-publication-date"
                [(ngModel)]="emprunt.livre_id"
                name="publicationDate"
              />
            </div>
            <div class="input-group">
              <label for="book-isbn">User ID :</label>
              <input
                type="text"
                id="book-isbn"
                [(ngModel)]="emprunt.user_id"
                name="isbn"
              />
            </div>
          </div>
        </div>
        <div class="submit-button-container">
          <button type="submit">Submit</button>
        </div>
      </form>
    
      
    </div>
  </div>
  