<div class="container">
    <app-navbar></app-navbar>
    <div class="dashboard-container">
      <div class="make-res-header">
        <h5>Make a reservation</h5>
      </div>
      <form (ngSubmit)="onSubmit()">
        <div class="admin-dashboard">
          <div class="input-section">
            <div class="input-group">
              <label for="book-title">Title</label>
              <input
                type="text"
                id="book-title"
                [(ngModel)]="reservation.id"
                name="title"
              />
            </div>
            <div class="input-group">
              <label for="book-author">Author</label>
              <input
                type="text"
                id="book-author"
                [(ngModel)]="reservation.livreId"
                name="author"
                [value]="currentUser.id"
              />
            </div>
          </div>
          <div class="input-section">
            <div class="input-group">
              <label for="book-publication-date">Publication Date</label>
              <input
                type="date"
                id="book-publication-date"
                [(ngModel)]="reservation.dateReservation"
                name="publicationDate"
              />
            </div>
            <div class="input-group">
              <label for="book-isbn">ISBN</label>
              <input
                type="text"
                id="book-isbn"
                [(ngModel)]="reservation.user_id"
                name="isbn"
              />
            </div>
          </div>
        </div>
        <div class="submit-button-container">
          <button type="submit">Submit</button>
        </div>
      </form>
    
      
    </div>
  </div>
  