
.menu-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu-item {
   
    font-size: 3vh;
    cursor: pointer;
    border-radius: 20px;
    width: 24vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    box-shadow: 0px 0px 3px 3px rgba(128, 124, 124, 0.1);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}

.menu-item:hover {
    transform: scale(1.1);
}

.navbar h1 {
    font-weight: 500;
}

.img-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;



}

.img-container img {
    border-radius: 8px;
    box-shadow: #f2efefc2;
}

.recent-adds-section{
    height: 80vh;
    border-color: black;
    border-top:0.2vh solid;
}