
.dashboard-container {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 254, 254, 0.63);
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: rgba(255, 254, 254, 1);
    border-left: none;
    
   
}

.navbar {
    height: 8vh;
    color: #FF3F00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    cursor: pointer;
}

.menu-container {
    display: flex;
    justify-content: space-between;
   
    
}

.menu-item {
    background-color: #FFFFFC;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 3vh;
    width: 24vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    box-shadow: 0px 0px 3px 3px rgba(87, 87, 87, 0.289);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
}
.menu-item-2{
    background-color: #FFFFFC;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 3vh;
    width: 28vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    box-shadow: 0px 0px 3px 3px rgba(87, 87, 87, 0.289);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s
}
.menu-item-2:hover{
    transform: scale(1.1);
}
.menu-item:hover {
    transform: scale(1.1);
}

.navbar h1 {
    font-weight: 500;
}
@media  screen and (max-width: 1000px) {
    .menu-item{
        width: 10vh;
        height: 3vh;
        font-size: 11px;
    }
    .menu-item-2{
        width: 10vh;
        height: 3vh;
        font-size: 11px;
    }
}
@media  screen and (max-width: 400px) {
    .logo{
        display:flex;
        align-items: center;
        
    }
    .menu-item{
        width: 8vh;
        height: 3vh;
        font-size: 11px;
    }
    .menu-item-2{
        width: 8vh;
        height: 3vh;
        font-size: 11px;
    }
}