.bg-image {
    background-image: url("../assets/background.jpeg");
    filter: blur(5px);
    -webkit-filter: blur(5px);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
}
.container{
    position: relative;
    left: 0;
    right: 0;
    z-index: 9999;
    position: relative;
}