
<div class="container">
  
  <app-navbar></app-navbar>
  
  <div class="book-search">
    <div class="search">
      <select [(ngModel)]="selectedOption" class="">
        <option value="" disabled selected>Categorie</option>
        <option *ngFor="let category of categories" [value]="category.id" class="filter-option">
          {{ category.nom }}
        </option>
      </select>

      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search books..."
      />
      <button (click)="searchBooks()">Search</button>
    </div>
  </div>
  <div class="book-list"   >
    <div class="item-book" *ngFor="let book of books">
      <img>
      <h3>{{ book.titre }}</h3>
      <h6>{{ book.auteur }}</h6>
      <h6>{{ book.datePublication }}</h6>
    </div>

  </div>
</div>
