
<div class="container">
  
  <app-navbar></app-navbar>
  
  <div class="book-search">
    <div class="search">
      <select [(ngModel)]="selectedOption" class="">
        <option value="" disabled selected>Filter by</option>
        <option *ngFor="let option of options" [value]="option.value" class="filter-option">
          {{ option.label }}
        </option>
      </select>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Search books..."
      />
      <button (click)="searchBooks()">Search</button>
    </div>
  </div>
  <div class="book-list" >
    <div>

    </div>

  </div>
</div>
