<div class="container">
  <app-navbar></app-navbar>
  <div class="dashboard-container">
    <h5>Users</h5>
    <div class="admin-dashboard">
      <div class="admin-user-list">
        <div class="user-list-header">
          <h6>Users :</h6>
          <img
            src="../../../assets/add-book.svg"
            routerLink="/admin/add-user"
          />
        </div>
        <div class="user-list-column-headers">
          <div class="header-item">ID</div>
          <div class="header-item">Username</div>
          <div class="header-item">Email</div>
          <div class="header-item">Library Card</div>
          <div class="header-item">Actions</div>
        </div>

        <!-- User List -->
        <div *ngFor="let user of users" class="user-row">
          <div class="user-data">{{ user.id }}</div>
          <div class="user-data">{{ user.username }}</div>
          <div class="user-data-email">{{ user.email }}</div>
          <div class="user-data">{{ user.libraryCard }}</div>
          <div class="user-actions">
            
            <img
              src="../../../assets/delete.svg"
              *ngIf="user.id !== null"
              (click)="onDeleteUser(user.id)"
              width="20px"
            />
          </div>
          <div class="book-settings"></div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
