.dashboard-container {
    margin-top: 6vh;
    padding: 10px;
    padding-bottom: 40px;
    background-color: rgba(255, 254, 254, 0.63);
    border-radius: 15px;
}

.dashboard-container h5 {
    border-bottom: 2px solid gray;
    padding-bottom: 1vh;
    text-align: center;
}

.admin-dashboard {
    padding: 5vh;
    display: flex;
    flex-direction: column;
}

.admin-user-list {
    width: 100%;
}

.user-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-list-column-headers, .user-row {
    display: flex;
    justify-content: space-between;
    
}
.header-item{
    color: rgb(255, 82, 19);
}

.header-item, .user-data, .user-actions{
    flex: 1;
    text-align: center;
    padding: 5px;
}
.user-data-email{
    min-width:210px;
    flex: 1;
    text-align: center;
    padding: 5px;
}

.user-actions img {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.show-modal {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 5px;
}

.modal-header, .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    cursor: pointer;
}

.modal-body {
    margin-top: 10px;
    margin-bottom: 10px;
}
